<head>
  <meta charset=utf-8>
  <base href="/">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name=description content=""/>
  <link rel=apple-touch-icon href=apple-touch-icon.png>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="/img/favicon.ico">


  <link href=assets/global/plugins/bootstrap-toastr/toastr.min.css rel=stylesheet type=text/css>


  <link type="text/css" href="/skin/pink.flag/css/jplayer.pink.flag.css" rel="stylesheet" />

  <link rel="stylesheet" href="css/liMarquee.css">


  <!--REGISTRATION STYLES-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
  <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
  <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
  <link href="assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css" />


</head>
