*{
	margin:0;
	border:0;
	padding:0;
	    font-family: sans-serif;
}
body .main_chat {
	background-color:#e6ebf0;
	width:100%;
	display:none;
	height:100%;
	position:fixed;
	z-index:9;
	overflow-y:scroll;
}
/*.message:first-child {
	border:1px solid red;
}*/
/*body .main_chat  header 
{ background-color:#ffffff;
	width:100%;
height: 82px;
}

body .main_chat  header .logo {
  width: 26%;
       margin-top: 5%;
    margin-left: 5%;
    float: left;
}
body .main_chat  header .open {
    width: 36%;
    float: right;
    margin-top: 4%;
    cursor: pointer;
    /* display: inline; 
}*/
/*.open img {
        width: 9%;
	border: 1px solid #fbfbfb;
    border-radius: 38%;
    padding: 3%;
    background-color: #fbfbfb;

}*/

/*.open span
{ position:relative;
      top: -14px;
}*/
/*body .main_chat header div 
{
	display: inline;
}*/
.name_radio {
    background-color: #ffffff;
	height:20%;
	margin-top:1%;
}
.main_chat .name_radio img{
	margin-left: 3%;
    margin-top: 1%;
}
.main_chat .name_radio span{
	    margin-left: 3%;
    /* line-height: 204%; */
    /* top: 0px; */
    position: relative;
	font-size: 100%;
}
.main_chat .name_radio  .calc_users
{
	   margin-left: 30%;
	   font-size:155%;
	   color:#0095f3;
	   position:relative;
}
.main_chat .name_radio  .chat_exit
{
	position:relative;
	margin-left:30%;
	width:5%;
}
.main_chat img.fb_mess {
    width: 4%;
}
.main_chat img.prof {
    float: left;
	width:30%;
}
.main_chat .message {
	background-color:#ffffff;
	display:inline-block;
    height:80%;
    width: 80%;position:relative;
	float:left;
	margin-top:3%;
	 border: 1px solid #d2d2d2;
    margin-left: 10%;
	}
.main_chat .content{
	position:fixed;
	z-index:10;
	bottom:12%;
	width:100%;
}

.main_chat img.prof {
   width: 16%;
}
.main_chat .info {
    margin-left: 26%;
    width: 52%;
    /* margin-top: 7%; */
    padding-top: 2%;
	
}
.main_chat img.fb_mess {
    width: 6%;
    /* float: left; */
}
.main_chat .cross {
    cursor: pointer;
    width: 8%;
    position: relative;
    float: right;
    left: 33%;
}
.main_chat .info span
{ 
font-size: 100%;
 color:#868686;
    margin-left: 2%;
    /* margin-bottom: 9%; */
}
.main_chat .main_mess {
        width: 70%;
    margin-left: 26%;
	color:#d2d2d2;
	margin-top: 3%;
	font-size: 100%;
	word-break:break-all;
}
 .chat_footer {
	height:94px;
	background-color:#ffffff;
}
 .chat_footer div {
	display:inline-block;
}
 .chat_footer  .control {
   border-right: 1px solid #f2f2f2;
       height: 65%;
}
.control img 
{ cursor:pointer;
    margin-top: 11%;
	    width: 26%;
    margin-left: 4%;
}
 .message_write {
    border-bottom: 1px solid #f2f2f2;
    position: relative;
	padding-bottom:3%;
   height:5vw;
    width: 40%;
    /* margin: 0 auto; */
    z-index: 99999;
    margin-left: 37%;
}
 .message_write textarea
{    
	    outline: none;
    word-break: break-all;
    resize: none;
    width:100%;
    position: relative;
      height:6vw;
	  font-size:100%;
}
input, textarea {
	outline:none;
	    word-break: break-all;
}
 send_img
{
	cursor:pointer;
}
 .send 
{     
	    width: 9%;
position:relative;
}
 img.send_img {
	 display:block;
	width: 85%;
	cursor:pointer;
}
span#calc {
    font-family: Arial Regular;
    color: #47b2f6;
    /* width: 61%; */
    font-size: 69%;
}