*{
	margin:0;
	border:0;
	padding:0;
	    font-family: sans-serif;
}
body .main_chat {
    /* background-color: #e6ebf0; */
    width: 30%;
    position: fixed;
    z-index: 1;
	margin-right: -4%;
    right: 0;
    bottom: 13%;

    -webkit-transition: .3s;
    transition: .3s;
    /* border-radius: 1%; */
    /* border: 1px solid #b3d4fc; */
	   /*  top: 79%; */
}
.main_chat.moved {
	right:430px;
}
/*.message:first-child {
	border:1px solid red;
}*/
/*body .main_chat  header
{ background-color:#ffffff;
	width:100%;
height: 82px;
}

body .main_chat  header .logo {
  width: 26%;
       margin-top: 5%;
    margin-left: 5%;
    float: left;
}
body .main_chat  header .open {
    width: 36%;
    float: right;
    margin-top: 4%;
    cursor: pointer;
    /* display: inline;
}*/
/*.open img {
        width: 9%;
	border: 1px solid #fbfbfb;
    border-radius: 38%;
    padding: 3%;
    background-color: #fbfbfb;

}*/

/*.open span
{ position:relative;
      top: -14px;
}*/
/*body .main_chat header div
{
	display: inline;
}*/
.name_radio {
    background-color: #ffffff;
    margin-top: 1%;
	height:39px;
}
.main_chat .name_radio img{
	margin-left: 3%;
    margin-top: 1%;
}
.main_chat .name_radio span{
	    margin-left: 3%;
    /* line-height: 204%; */
    /* top: 0px; */
    position: relative;
    top: -11%;
}
.main_chat img.fb_mess {
    width: 3%;
}
.main_chat img.prof {
    float: left;
}
.main_chat .message {
	background-color: #ffffff;
    /* padding-bottom: 7.7%; */
	position:relative;
    width: 85%;
	float:left;
    display: inline-block;
    /* margin-left: 5%; */
    margin-bottom: 4%;
    border: 1px solid #d2d2d2;
}
.main_chat .content{
margin-top: 15%;
}

.main_chat img.prof {
width: 25%;
}
.main_chat .info {
    margin-left: 26%;
    width: 74%;
    /* margin-top: 7%; */
}
.main_chat img.fb_mess {
    width: 6%;
    /* float: left; */
}
.main_chat .cross {
	cursor:pointer;
width: 5%;
    padding-right: 3%;
    padding-top: 3%;
position: relative;
float:right;
top: -28%;
}
.main_chat .info span
{
	color:#d2d2d2;

    margin-left: 2%;
    /* margin-bottom: 9%; */
}
.main_chat .main_mess {
        width: 62%;
    margin-left: 26%;

	color:#868686;
	line-height: 100%;
text-align: left;
    word-break: break-all;
}
 .chat_footer {
	height:94px;
	background-color:#ffffff;
}
 .chat_footer div {
	display:inline-block;
}
 .chat_footer  .control {
   border-right: 1px solid #f2f2f2;
       height: 65%;
}
.control img
{ cursor:pointer;
    margin-top: 11%;
	    width: 26%;
    margin-left: 4%;
}
 .message_write {
       border-bottom: 1px solid #f2f2f2;
    position: relative;
    top: 13%;
        height: 55%;
   width: 50%;
}
 .message_write textarea
{
	    outline: none;
    word-break: break-all;
    resize: none;
    width: 100%;
    position: relative;
      height: 100%;
}
input, textarea {
	outline:none;
	    word-break: break-all;
}
 send_img
{
	cursor:pointer;
}
 .send
{
	    width: 9%;
position:relative;
}
 img.send_img {
	 display:block;
	width: 85%;
	cursor:pointer;
}
span#calc {
    font-family: Arial Regular;
    color: #47b2f6;
    /* width: 61%; */
    font-size: 69%;
}
