body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}
::selection
{
    background: #b3d4fc;
    text-shadow: none;
}
hr
{
    border-top: 1px solid #ccc;
    box-sizing: content-box;
    height: 0;
    margin: 1em 0;
    padding: 0;
}
audio,canvas,iframe,img,svg,video
{
    vertical-align: middle;
}
textarea
{
    resize: vertical;
}
abbr,acronym { border: 0;
} 
body:after, body:before, html:after, html:before {
    content: '';
    display: table;
}
body, html {
    color: #4c4c4c;
    display: block;
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    zoom: 1;
}
.bro-sidepanel {
    font-size: 1em;
    line-height: 1.4;
    color: #4c4c4c;
    line-height: 35px;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}
a
{
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}
@font-face
{
    font-family: DINPro;
    src: url(../fonts/DINPro-Medium.otf);
}
@font-face
{
    font-family: HelveticaNeueCyr-Medium;
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
}
@font-face
{
    font-family: HelveticaNeueCyr;
    src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}

.bro-logo {
    margin-left: 5%;
    position: relative;
    width: 22%;
    height: 100%;
    display: inline-block;
}
.bro-logo img {
    position: absolute;
    height: 29%;
    top: 35%;
}



.bro-login {
    float: right;
    margin-right: 10%;
    height: 100%;
    text-decoration: none;
    color: #4c4c4c;
}
.bro-login span {
        font-size: 15px;
    font-family: HelveticaNeueCyr;
    display: block;
    margin-top: 12%;
    white-space: nowrap;
}
.bro-login img {
    float: left;
    height: 70%;
    margin-top: 5%;
}


.megawrapper {
    height: 100%;
    width: 100%;
}
header {
    width: 100%;
  height: 10.6%;    
}

.bro-main {
    width: 100%;
	height:80%;

    background-color: #e7ebf0;
    box-sizing: border-box;
    overflow: auto;
}

.bro-main .bro-container {
    width: 85.4%;
    height: 100%;
    margin: 0 auto;

}
.bro-main .bro-container>section>div {
    width: 48%;
    box-sizing: border-box;
    overflow: hidden;
}
.bro-main .bro-container>section>div>div {
    position: relative;
    width: 100%;    
    padding-bottom: 103.4%;
}
.bro-container:after, .bro-container:before {
    content: '';
    display: table;
}
.bro-main .bro-container>section>div:nth-child(2n)
{
    float: right;
}
.bro-main .bro-container>section>div:nth-child(2n+1)
{
    float: left;
}
.bro-container>section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
	padding-top: 10%;
}

.bro-mustype {
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
}
.bro-mustype:last-of-type {
   margin-bottom: 5%;
}
.bro-mustype--active {
    background: #2196f3;
}
.radio-logo {
    bottom: 30%;
    left: 0;
    right: 0;
    top: 0;
    height: 35%;
    margin: auto;
    position: absolute;
}
.radio-name {
    bottom: 9%;
    font-size: 2.8vw;
    left: 0;
    line-height: 5vw;
    margin: auto;
    position: absolute;
    right: 0;
    font-family: HelveticaNeueCyr;
    font-weight: 400;
}
.horiz-line {
    background-color: #f4f4f4;
    bottom: 30%;
    height: 0.5%;
    left: 37.5%;
    position: absolute;
    width: 25%;
}
.bro-mustype .horiz-line{
    opacity: 0.5;
}
.radio-numb {
    bottom: 8%;
    font-size: 2.8vw;
    left: 0;
    line-height: 5vw;
    margin: auto;
    position: absolute;
    right: 0;
    font-family: HelveticaNeueCyr;
    font-weight: 400;
}
.bro-mustype--active  .radio-numb{
    color: #fff;
    opacity: 0.5;
}

.bro-mustype .radio-logo, .bro-mustype .radio-name {
    display: block;
}
.bro-mustype--active .radio-logo, .bro-mustype--active .radio-name {
    display: none;
}

.bro-mustype .pause, .bro-mustype .logo, .bro-mustype .favorite, .bro-mustype .long-line, .bro-mustype p {
    display: none;
}
.bro-mustype--active .pause, .bro-mustype--active .logo, .bro-mustype--active .favorite, .bro-mustype--active .long-line, .bro-mustype--active p {
    display: block;
}

.pause {
    bottom: 70%;
    left: 0;
    right: 70%;
    top: 0;
    height: 15.2%;
    width: 15.2%;
    margin: auto;
    position: absolute;
}
.pause img {
    width: 100%;
    height: 100%;
}

.logo {
    bottom: 70%;
    left: 70%;
    right: 0;
    top: 0;
    height: 13.2%;
    width: 13.2%;
    margin: auto;
    position: absolute;
}
.logo img {
    width: 100%;
}
.favorite {
    bottom: 0;
    left: 82%;
    right: 0;
    top: 75%;
    height: 7.5%;
    width: 8%;
    margin: auto;
    position: absolute;
}
.favorite img {
    width: 100%;
    height: 100%;
}
.long-line {
    width: 80%;
    bottom: 70%;
    left: 10%;
}
.bro-mustype p {
    height: 8vw;
    position: absolute;
    width: 80%;
    font-size: 5vw;
    left: 10%;
    top: 40%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    color: #fff;
}

footer {
    height: 12%;
    box-sizing: border-box;
	background:white; z-index:10;position:relative;  
}

.bro-player {
    position: relative;
    display: block;
    height: 100%;
    padding-right: 36%;
    float: left;
    border-right: 1px solid #eee;
}
.player-pause, .player-prew, .player-next {
    height: 100%;
}
.player-pause img {
    bottom: 25%;
    left: 6%;
    height: 50%;
    margin: auto;
    position: absolute;
}
.player-prew img {
    bottom: 25%;
    left: 36%;
    height: 50%;
    margin: auto;
    position: absolute;
}

.player-next img {
    bottom: 25%;
    left: 66%;
    height: 50%;
    margin: auto;
    position: absolute;
}

.info-wrap {
    height: 100%;
    width: 38%;
    float: left;
}
.bro-player-info
{
    height: 100%;
    margin: 0 auto;
    width: 20vh;
}
.bro-player-info-img img
{
    float: left;
    height: 50%;
    margin-top: 50%;
}
.bro-player-info-img
{
    height: 100%;
    float: left;
}
.bro-player-info-text
{
    padding-left: 10%;
    float: left;
    width: 60%;
}
.bro-player-info-text span
{
    color: #616161;
    display: block;
    font-size: 2vh;
    font-weight: 700;
    margin-top: 44%;
    overflow:hidden;
    
}
.bro-player-info-text small
{
    color: #909090;
    display: block;
    font-size: 1.9vh;
    font-weight: 500;
    line-height: 20px;
}
.bro-player-info-text small img
{
    display: inline-block;
    margin-right: 7px;
}

.bro-like
{
    position: relative;
    display: block;
    height: 100%;
    padding-right: 12%;
    float: right;
    border-left: 1px solid #eee;
}
.bro-like img {
    bottom: 25%;
    left: 10%;
    height: 50%;
    margin: auto;
    position: absolute;
}
.bro-massage
{
    position: relative;
    display: block;
    height: 100%;
    padding-right: 12%;
    float: right;
    border-left: 1px solid #eee;
}
.bro-massage img {
    bottom: 25%;
    left: 10%;
    height: 50%;
    margin: auto;
    position: absolute;
}





.bro-modal
{
    background-color: #fff;
    border-radius: 10px;
    display: none;
    min-width: 33%;
    position: relative;
    z-index: 11;
}
.bro-modal-bg
{
    background-color: rgba(0,0,0,.3);
    bottom: 0;
    height: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}
.bro-modal span
{
    color: #707171;
    display: block;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 36px 44px;
}
.bro-modal--open,.bro-modal-menu
{
    display: inline-block;
}
.bro-modal-menu
{
    float: right;
    padding: 0 20px;
}
.bro-modal-menu div
{
    background-color: #2196f3;
    border-radius: 50%;
    height: 4px;
    margin: 1px;
    width: 4px;
}
.bro-swith
{
    background-color: rgba(33,148,240,.4);
    border-radius: 11px;
    height: 11px;
    position: relative;
    width: 30px;
}
.bro-sidepanel,.bro-swith-trig
{
    bottom: 0;
    position: absolute;
    top: 0;
}
.bro-swith-trig
{
    background-color: #2194f0;
    border: 5px solid #2194f0;
    border-radius: 50%;
    box-sizing: border-box;
    height: 19px;
    left: -25%;
    margin: auto;
    width: 19px;
}
.bro-sidepanel,.bro-swith-trig:hover
{
    background-color: #fff;
}
.bro-swith--on>div
{
    left: 75%;
}
.bro-sidepanel
{
    max-height: 100%;
    overflow: hidden;
    right: 0;
    transform: translateX(0);
    transition: .3s;
    webkit-transform: translateX(0);
    webkit-transition: .3s;
    width: 100%;
    z-index: 7;
}
.bro-sidepanel>div
{
    box-sizing: border-box;
    display: table;
    width: 100%;
}
.bro-sidepanel>div>div
{
    box-sizing: border-box;
    display: table-cell;
}
.bro-sidepanel>div>div:first-child
{
    padding-left: 40px;
    padding-right: 45px;
    padding-top: 15px;
    vertical-align: top;
    width: 40px;
}
.bro-sidepanel>div>div:nth-child(2)
{
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.bro-sidepanel-person
{
    background-color: #4dabf5;
    display: table;
    position: relative;
    width: 100%;
}
.bro-sidepanel-person-ava
{
    display: table-cell;
    padding: 45px 30px 50px 40px;
    vertical-align: middle;
    width: 66px;
}
.bro-sidepanel-person-ava>div
{
    border-radius: 50%;
    height: 66px;
    overflow: hidden;
    width: 66px;
}
.bro-sidepanel-person-info
{
    color: #fff;
    display: table-cell;
    font-family: HelveticaNeueCyr;
    line-height: 25px;
    vertical-align: middle;
}
.bro-sidepanel-person-info span
{
    display: block;
    font-size: 18px;
    font-weight: 500;
}
.bro-sidepanel-person-info small
{
    display: block;
    font-size: 14px;
    font-weight: 400;
}
.bro-sidepanel-set
{
    color: #4c4c4c;
    display: table;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-weight: 400;
}
.bro-sidepanel-set .bro-swith
{
    cursor: pointer;
    float: right;
    margin: 12px 0;
}
.bro-sidepanel-set>div
{
    display: table-cell;
}
.bro-sidepanel-set span
{
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 0;
    padding-right: 20px;
    width: 100%;
}
.bro-sidepanel-mustype .bro-sidepanel-img
{
    margin-bottom: 20px;
}
.bro-sidepanel-mustype-item
{
    font-size: 1px;
    line-height: 0;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-top: 30px;
    text-align: justify;
    text-justify: newspaper;
    zoom: 1;
}
.bro-sidepanel-mustype-item:after
{
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
}
#scrollbox3,.bro-sidepanel-liststay-item
{
    overflow: auto;
}
.bro-sidepanel-mustype-item a
{
    border: 2px solid #36ade1;
    border-radius: 2px;
    box-sizing: border-box;
    display: table;
    float: left;
    font-size: 12px;
    height: 68px;
    line-height: normal;
    margin: 2px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 68px;
}
.bro-sidepanel-mustype-item a:after
{
    border: 12px solid transparent;
    border-bottom: 12px solid #36ade1;
    border-right: 12px solid #36ade1;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 3;
}
.bro-sidepanel-mustype-item a:nth-child(4n-3)
{
    margin-left: 0;
}
.bro-sidepanel-mustype-item a:nth-child(4n)
{
    margin-right: 0;
}
.bro-sidepanel-mustype-item a>span
{
    color: #36ade1;
    display: table-cell;
    font-family: HelveticaNeueCyr;
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    margin: auto;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.bro-sidepanel-mustype-item a>span:before,.bro-sidepanel-mustype-item a>span>span
{
    display: inline-block;
    vertical-align: middle;
}
.bro-sidepanel-mustype-item a>span:before
{
    content: " ";
    height: 100%;
    width: 0;
}
.bro-sidepanel-mustype-item a:hover
{
    background-color: #36ade1;
}
.bro-sidepanel-mustype-item a:hover span
{
    color: #fdfdfe;
}
.bro-sidepanel-mustype-item a:hover:after
{
    border: 12px solid transparent;
    border-bottom: 12px solid #92d2ee;
    border-right: 12px solid #92d2ee;
}
.bro-sidepanel-mustype-item img
{
    bottom: 2px;
    position: absolute;
    right: 0;
    z-index: 4;
}
.bro-sidepanel-liststay
{
    margin-top: 30px;
}
.bro-sidepanel-liststay>div
{
    padding-top: 0;
}
.bro-sidepanel-liststay-item>div
{
    height: 193px;
    padding-right: 200px;
}
.bro-sidepanel-liststay a
{
    border-bottom: 1px solid rgba(0,0,0,.05);
    display: block;
    padding: 22px 0;
}
.bro-sidepanel-close
{
    bottom: 0;
    display: block;
    height: 12px;
    margin: auto;
    position: absolute;
    right: 20px;
    top: 0;
}
.bro-sidepanel-close img
{
    display: block;
}
.bro-sidepanel-img,.bro-sidepanel-img img
{
    display: inline-block;
    position: relative;
    text-align: center;
}
.bro-sidepanel-img
{
    height: 40px;
    width: 40px;
}
.bro-sidepanel-img img
{
    z-index: 6;
}
.bro-sidepanel-img:hover:before
{
    background-color: #bababa;
}
.bro-sidepanel-img:before
{
    background-color: #36ade1;
    border-radius: 50%;
    content: "";
    display: block;
    height: 40px;
    position: absolute;
    width: 40px;
    z-index: 5;
}
.bro-sidepanel--close
{
    transform: translateX(150%);
    webkit-transform: translateX(150%);
    display: none;
}
#bro-modal1 input:not([type=submit])
{
    border-bottom: 1px solid rgba(0,0,0,.05);
    box-sizing: border-box;
    color: #4c4c4c;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    padding: 30px 20px 35px;
    text-align: center;
    width: 100%;
}
#bro-modal1 input[type=submit]
{
    border-radius: 0 0 10px 10px;
    color: #fff;
  font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 35px;
    padding-top: 35px;
    width: 100%;
}
#bro-modal1 .bro-modal-input
{
    padding-left: 45px;
    padding-right: 45px;
}
#bro-modal1 .bro-modal-soci
{
    padding: 35px 45px;
    zoom: 1;
}
#bro-modal1 .bro-modal-soci:after,#bro-modal1 .bro-modal-soci:before
{
    content: '';
    display: table;
}
#bro-modal1 .bro-modal-soci span
{
    float: left;
    padding: 0;
}
#bro-modal1 .bro-modal-soci a
{
    display: inline-block;
    float: right;
    margin-left: 10px;
}
#bro-modal2:after,#bro-modal2:before
{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    content: "";
    display: block;
    height: 15%;
    left: 0;
    margin: auto;
    right: 0;
    z-index: 4;
}
#bro-modal1 span
{
    text-align: left;
}
#bro-modal2
{
    background: url(../img/modal2-bg.png) bottom no-repeat #fff;
    padding-bottom: 80px;
    padding-top: 80px;
    position: relative;
    z-index: 5;
}
#bro-modal2:after
{
    bottom: -15%;
    opacity: .7;
    position: absolute;
    width: 90%;
}
#bro-modal2:before
{
    bottom: -30%;
    opacity: .4;
    position: absolute;
    width: 80%;
}
.bro-mustype--active.bro-mustype .bro-mustype-discript,.bro-mustype--active.bro-mustype .bro-mustype-fav,.bro-mustype--active.bro-mustype .bro-pause
{
    opacity: 1;
}
#bro-modal2 span
{
    border: 0;
    color: #4c4c4c;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    padding: 0;
    text-align: center;
}
#scrollbox3
{
    border: 1px solid #b7b7b7;
    height: 360px;
    padding: 0 5px;
    width: 400px;
}
.track3
{
    background: transparent;
    border-radius: 10px;
    margin-right: 2px;
    transition: background .25s linear;
    webkit-transition: background .25s linear;
    width: 10px;
}
.track3.dragging,.track3:hover
{
    background: #d9d9d9;
    background: rgba(0,0,0,.15);
}
.handle3
{
    background: #2196f3;
    border-radius: 7px;
    right: 0;
    transition: width .25s;
    webkit-transition: width .25s;
    width: 7px;
}
.track3.dragging .handle3,.track3:hover .handle3
{
    width: 10px;
}
.bro-container section  {
      overflow: hidden;
    }
    body, .onepage-wrapper, html {
      display: block;
      position: static;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    .bro-swith--on {
    /* background-color: #F1E9E9; */
    background-color: rgb(229, 228, 234);
}
.strelochka {
    display: block;
    position: absolute;
    z-index: 999999;
    top: 75%;
    bottom: 5%;
    left: 40%;
    right: 5%;
    height: 10%;
    transition-duration: 1s;
}


