body {
    position:relative;
}
.wrapper {
    background: #e7ebf0;
    height:100%;
}
.header {
    height:44px;
    background: #fff;
    position:relative;
    z-index:13;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    -moz-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
}
.logo {
    padding-top:15px;
}
.logo img {
    display:block;
    width:110px;
    margin:0 auto;
}
#btnSettings {
    position:absolute;
    top:10px; right:15px;
    width: 25px; height:25px;
    background: url('/img/phone_btn_settings_blue_small.png') no-repeat;
}
#menu {
    position:absolute;
    top:-100%; left:0; right:0;
    height:100%;
    background:#e7ebf0;
    padding-top:44px;/*header height*/
    z-index:12;
    border-bottom:1px solid black;

}
#menu .info {
    overflow:hidden;
    padding:3vw;
    font-size:5vw;
    color:#454545;
}
#menu span {
    margin-left: 60px;
    display:block;
    text-align:center;
}
#menu .avatar {
    float:left;
    height:64px;
}
#menu a {
    display:block;
    padding:3vw;
    text-align:center;
    font-size:5vw;
    background:#fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    -moz-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    margin:3vw 3vw;
}
.container {
    padding:0;
    position:absolute;
    top:44px; left:0; right:0; bottom:30px;
}
.box {
    float:left;
    box-sizing: border-box;
    width: 46%;
    margin:2% 2%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    -moz-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
}
.box>a {
    display:block;
    width:100%;
    position:relative;
    z-index:0;
    padding-bottom:100%;
    background: #fff;
    border-radius: 4px;
    color:#454545;
}
.box .icon {
    display:block;
    position:absolute;
    top:21%; left:0; right:0;
    margin:auto;
    height:30%;
}
.box .bottom {
    position:absolute;
    left:0; right:0; bottom:10%;
    text-align:center;
    margin:auto;
    font-size: 5.7vw;
    line-height:10vw;
}
.radio_info {
    height:58%;
    margin-bottom:10%;
}
.genre_box {
    width:80%;
    margin:5% auto 5% auto;
    background:#2196f3;
    border-radius:4px;
    position:relative;
}
/*.genre_box>div {
    position:absolute;
    width:100%; height:100%;
    text-align:center;

}*/
.genre_box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.genre_header {
    position:absolute;
    top:25px; left:25px;
    color:#fff;
    max-width:75%;
}
.genre_header .title{
    font-size: 5.7vw;
    font-weight:bold;
}
.genre_header .online{
    margin-top:5px;
    background: url('/img/phone_online_white_small.png') 0 5px no-repeat;
    padding-left:20px;
    font-size: 5.2vw;
}
.genre_content {
    position:absolute;
    top:80px; left:25px; right:25px; bottom:57px;

    color:#fff;
    text-align:center;
    vertical-align: middle;
    overflow:hidden;
    line-height: 80px;
}
.genre_content .description {
    display: inline-block;
    vertical-align: middle;
    line-height:normal;
}
.genre_content .fav {
    display:none;
    line-height:normal;
    text-align:left;
}
.genre_content .fav ul {
    margin:0;
    padding:0;
}
.genre_content .fav li {
    padding:2px 3px;
    list-style:none;
}
.genre_content .fav li.active {

    background:#0088de;
}
.genre_content .fav .name {
    font-size: 4.8vw;
    cursor:pointer;
}
.genre_content .fav .listen{
    float:right;
    background: url('/img/phone_online_white_small.png') 0 1px no-repeat;
    padding-left:20px;
}
.genre_footer {
    background: url('/img/phone_tower_white_small.png') no-repeat;
    position:absolute;
    bottom:25px; left:25px;
    height:30px;
    width:27px
}
.genre_name {
    position:absolute;
    color:#fff;
    bottom:40px; left:65px; right:60px;
    overflow:hidden;
}
.genre_name span {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    height: 25px!important;
}
.genre_likes {
    background: url('/img/phone_heart_small.png') 0 4px no-repeat;
    position:absolute;
    color:#fff;
    padding-left:18px;
    bottom:18px; left:65px;
}
.genre_icon {
    position:absolute;
    top:25px; right:25px;
    width:40px;
}
.radio_fav {
    position:absolute;
    bottom:25px; right:25px;
    width:24px; height:24px;
    background:url('/img/star_big_white.png') no-repeat;
}
.radio_fav.active {
    background:url('/img/star_big_yellow.png') no-repeat;
}


.player_controls {
    height:25%;
    position:relative;
}
.buttons {
    position:absolute;
    bottom:0; left:0;
    width:100%;
}
.buttons img {
    width:100%;
}
#btn_fav {
    position:absolute;
    bottom:0; left:1vw;
    width:14vw; height:14vw;
}
#btn_prev {
    position:absolute;
    bottom:0; left:20vw;
    width:17vw; height:17vw;
}
#btn_play {
    display:block;
    margin:0 auto;
    width:17vw; height:17vw;
}
#btn_next {
    position:absolute;
    bottom:0; right: 20vw;
    width:17vw; height:17vw;
}
#btn_like {
    position:absolute;
    bottom:0; right:1vw;
    width:14vw; height:14vw;
}
.nowplay {
    color:#5d5d5d;
    padding:10px 15px 20px 15px;
    text-align:center;
}
.message_box {
    position:absolute;
    z-index:11;
    left:0; right:0; bottom:0;
    height:40px;
    background:#fff;
    color:#a2a2a2;
}
.message_box input{
    width:100%; height:100%;
    font-size: 5.2vw;
    padding:8px 16px;
    border:none;
    outline: none;
}
#messages_box {
    position:fixed;
    bottom:0; left:0; right:0; top:0;
    padding-bottom:40px;/*messages_box height*/
    z-index:10;
    border-top:1px solid black;
    display:none;
    opacity:0;
    overflow:auto;
}
#messages_box .message {
    background:#fdfdfd;
    padding:3vw;
    font-size: 5.2vw;
    color:#fff;
    overflow:hidden;
    margin: 3vw 3vw;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    -moz-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
}
#messages_box .message img {
    float:left;
    width:64px;
    height:64px;
}
#messages_box .content {
    color:#b6b6b8;
    padding-left:80px;
}
.form {
    margin:10px;
    background:#fff;
    border-radius:4px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    -moz-box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
    box-shadow: 0px 0px 5px 1px rgba(209,214,222,0.65);
}
.form.register-form {
    display:none;
}
.form .title {
    color:#000;
    font-size: 6vw;
    text-align:center;
    padding: 15px 0;
}
.form .inp_outer {
    padding:10px 20px;
}
.form input {
    border-radius:4px;
    border:1px solid #dae1e5;
    color:#8d95ab;
    font-size: 5.6vw;
    width:100%;
    padding:3px 6px;
}
.form input[type="button"] {
    background:#0097f6;
    border:1px solid #0097f6;
    color:#fff;
    font-size:5vw;
}
.form .separated {
    border-top:1px solid #ebedf0;
    margin-top:20px;
    padding-bottom:20px;
    color:#8d95ab;
    text-align: center;
    font-size:4.8vw;
}
.form .separated a{
    color:#0097f6;
    text-decoration:underline;
}
.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
