article, aside, details, figcaption, figure, footer, header, hgroup, hr, main, menu, nav, section, summary {
    display: block;
}
pre, textarea {
    overflow: auto;
}
hr, img {
    border: 0;
}
.bro-form-massage button:focus, a:active, a:hover {
    outline: 0;
}
#bro-modal1 .bro-modal-soci:after, .bro-container:after, .clearfix:after, body:after, html:after {
    clear: both;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    box-sizing: content-box;
    height: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
.ie7 .title {
    padding-top: 20px;
}
legend, td, th {
    padding: 0;
}
@media print {
    blockquote, img, pre, tr {
    page-break-inside: avoid;
}
*, :after, :before {
    background: 0 0!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")"}
abbr[title]:after {
    content: " (" attr(title) ")"}
a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""}
blockquote, pre {
    border: 1px solid #999;
}
thead {
    display: table-header-group;
}
img {
    max-width: 100%!important;
}
h2, h3, p {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
}.bro-container:after, .bro-container:before, .bro-form-massage input+label:after, .bro-login-img:before, .bro-mustype-count:before, .bro-mustype-icon:after, .bro-player-fav-hide:after, .bro-sidepanel-mustype-item:after, .clearfix:after, .clearfix:before {
    content: ''}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    cursor:pointer;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, optgroup, strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
code, kbd, pre, samp {
    font-family: monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
body, form input {
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: HelveticaNeueCyr;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix {
    zoom: 1;
}
.clearfix:after, .clearfix:before {
    display: table;
}
@font-face {
    font-family: DINPro;
    src: url(../fonts/DINPro-Medium.otf);
}
@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}
body {
    margin: 0;
    line-height: 35px;
    color: #4c4c4c;
}
body, html {
    min-height: 100%;
    height: 100%;
    min-width: 320px;
    width: 100%;
    overflow: hidden;
    zoom: 1;
    display: block;
    position: fixed;
}
body:after, body:before, html:after, html:before {
    display: table;
    content: ''}
form input {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    color: #000;
}
form input:-moz-placeholder, form input:-ms-input-placeholder, form input:-webkit-input-placeholder {
    opacity: .3;
    color: #000;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-weight: 400;
}
.bro-form-massage button:hover, .bro-pause:hover {
    opacity: .7;
}
form input[type=submit] {
    background-color: #2196f3;
    padding: 12px 25px;
    color: #fff;
    font-family: HelveticaNeueCyr;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
}
.bro-login-img span, .bro-settings span {
    font-family: HelveticaNeueCyr;
    font-size: 14px;
}
#megawarpper {
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}
.bro-toastr {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 320px;
}
.bro-main, .bro-mustype {
    right: 0;
    bottom: 0;
    left: 0;
}
.bro-blur #megawarpper {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.bro-blur .bro-overlay {
    display: block;
}
.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.bro-form-massage button {
    background-color: transparent;
    border: 0;
}
.bro-form-massage input+label {
    bottom: -2px;
    width: 100%;
    right: 0;
    left: 0;
}
.bro-form-massage input+label, .bro-form-massage input+label:after {
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    position: absolute;
}/* синяя полоска в поле ввода сообщения
.bro-form-massage input+label:after {
    visibility: visible;
    width: 0;
    background: #36c6d3;
    z-index: 5;
    bottom: 0;
    left: 50%;
    height: 2px;
}
.bro-form-massage input:focus+label:after {
    left: 0;
    width: 100%}*/
.bro-header {
    height: 75px;
    overflow: hidden;
    z-index: 2;
    position: relative;
    background-color: #fff;
}
.bro-container {
    position: relative;
    max-width: 1200px;
    width: 94.75%;
    margin: auto;
    zoom: 1;
}
.bro-container:after, .bro-container:before {
    display: table;
}
.bro-login, .bro-login-img, .bro-logo {
    display: inline-block;
}
.bro-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}
.bro-login-img {
    position: relative;
    margin-right: 20px;
}
.bro-login-img:before {
    position: absolute;
    z-index: 8;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fbfbfb;
}
.bro-login-img img {
    position: relative;
    z-index: 9;
    width: 40px;
    height: 40px;
}
.bro-login-img span {
    font-weight: 500;
    line-height: 24px;
    color: #5c5c5c;
}
.bro-search {
    display: inline-block;
    height: 40px;
}
.bro-settings {
    line-height: 22px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px dotted #36ade1;
    margin-bottom: 11px;
    text-align: center;
}
.bro-settings img {
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 2px;
}
.bro-settings span {
    font-weight: 400;
    line-height: 12px;
    color: #36ade1;
}
.bro-nav {
    float: right;
}
.bro-nav>div {
    float: left;
    padding: 20px 40px;
    border-right: 1px solid rgba(0, 0, 0, .05);
}
.bro-nav>div:hover {
    background: #ebebeb;
    border-radius: 3px;
}
@media (max-width:514px) {
    .bro-nav>div: nth-child(3) {
    display: none;
}
}@media (max-width:394px) {
    .bro-nav>div: nth-child(2) {
    padding-right: 2%;
    padding-left: 0;
    border-right: 0;
}
}.bro-nav>div:last-child {
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
}
.bro-player-fav, .bro-player-fav-hide, .bro-player-info, .bro-player-nav {
    border-right: 1px solid rgba(0, 0, 0, .05);
}
@media (max-width:620px) {
    .bro-nav>div: nth-child(1) {
    display: none;
}
.bro-nav>div .bro-settings a {
    margin: 0;
    padding: 0;
}
}.bro-main {
    overflow: hidden;
    background-color: #e7ebf0;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 75px;
    padding-bottom: 90px;
    margin: 0;
}
.bro-main>div {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15%;
    padding-left: 15%}
.bro-main .bro-container>div {
    float: left;
    box-sizing: border-box;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    overflow: hidden;
}
.bro-main .bro-container>div:nth-last-child(1) {
    display: none;
}
.bro-main .bro-container>div:nth-child(4n) {
    margin-right: 0;
}
.bro-main .bro-container>div>div {
    width: 100%;
    position: relative;
    padding-bottom: 100%}
.bro-player-nav a  {
    width: 40px;
    height: 40px;
    display: block;
}
.player-btn {
  background-image: url(../img/icons_sprite.png);
  background-repeat:no-repeat;
}
.bro-btn-prev {
  background-position:0 -200px;
}
.bro-btn-prev:hover {
  background-position:0 -160px;
}
.bro-btn-next {
  background-position:0 -120px;
}
.bro-btn-next:hover {
  background-position:0 -80px;
}
.bro-btn-pause {
  background-position:0 -280px;
}
.bro-btn-pause:hover {
  background-position:0 -240px;
}
.bro-btn-play {
  background-position:0 -40px;
}
.bro-btn-play:hover {
  background-position:0 0px;
}
.bro-mustype-count, .bro-mustype-name {
    font-family: HelveticaNeueCyr;
    color: #454545;
    width: 100%;
    font-weight: 400;
}

.bro-mustype {
    cursor:pointer;
    position: absolute;
    top: 0;
    margin: auto;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
}
.bro-player-fav-heart, .bro-player-fav-star {
    border-radius: 50%;
    width: 40px;
    position: relative;
}
.bro-mustype .bro-pause {
    display:none;
    position: absolute;
    opacity: 0;
    top: 8%;
    left: 8%}
.bro-mustype-icon, .bro-mustype-icon img {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    position: absolute;
}
.bro-mustype-icon img {
    display: block;
    height: 25%}
.bro-mustype-icon img+img {
    display: none;
}
.bro-mustype-icon:after {
    display: none;
    position: absolute;
    left: 13%;
    right: 13%;
    top: 40%;
    margin: auto;
}
.bro-mustype-name {
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 1.4vw;
    line-height: 5vw;
    position: absolute;
}
.bro-mustype-count {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 75px;
}
.bro-mustype-count:before {
    display: block;
    width: 75px;
    margin: auto;
}
.bro-mustype-favRadios {
    position:absolute;
    top: 29%;
    bottom: 18%;
    left:5%;
    right:5%;
    color: #fff;
    font-family: Arial;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.3;
    text-align: left;
    display: none;
    overflow:auto;
}
.bro-mustype-favRadios ul {
    margin:0;
    padding:0;
}
.bro-mustype-favRadios li {
    padding:2px 3px;
    list-style:none;
}
.bro-mustype-favRadios li.active {

    background:#0088de;
}
.bro-mustype-favRadios .name {
    color:#fff;
    text-decoration:none;
    overflow:hidden;
    white-space:nowrap;
    display:block;
    margin-right:35px;
}
.bro-mustype-favRadios .listen{
    float:right;
    background: url('/img/phone_online_white_small.png') 0 1px no-repeat;
    padding-left:20px;
}
.bro-mustype-discript {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: Arial;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.3;
    box-sizing: border-box;
    text-align: center;
    display: table;
    padding: 8% 11% 10%}
.bro-mustype-discript span {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%}
.bro-mustype-fav {
    opacity: 0;
    position: absolute;
    bottom: 7%;
    right: 7%;
    width: 12%;
    height: 12%}
.bro-mustype-fav a {
    display: block;
    width: 100%;
    height: 100%}
.bro-mustype-fav a.active {
    background:red;}
.bro-mustype-fav img {
    display: block;
    width: 100%;
    height: auto;
}
.bro-player {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 90px;
    overflow: hidden;
    z-index: 2;
    background-color: #fff;
}
.bro-player>div>div {
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}
.bro-player>div>div:nth-child(1) {
    width: 14.2%}
.bro-player>div>div:nth-child(2) {
    width: 13.3%}
.bro-player>div>div:nth-child(3) {
    width: 26.3%}
.bro-player>div>div:nth-child(4) {
    width: 5.3%}
.bro-player>div>div:nth-child(5) {
    width: 40.5%}
@media (max-width:1159px) {
    .bro-player>div>div: nth-child(1) {
    width: 25.5%;
    text-align: center;
}
.bro-player>div>div:nth-child(1)>a {
    float: none;
    display: inline-block;
}
.bro-player>div>div:nth-child(4) {
    width: 10.3%}
.bro-player>div>div:nth-child(3) {
    display: none;
}
.bro-player>div>div:nth-child(5) {
    width: 50.5%;
    padding-right: 1%;
    padding-left: 3%;
    position: absolute;
    height: 100%}
.bro-player>div>div:nth-child(5) form {
    width: 100%;
    height: 100%;
    float: right;
}
.bro-player>div>div:nth-child(5) form .bro-form-massage-container {
    position: absolute;
    right: 70px;
    left: 60px;
    margin: auto 70px auto auto;
    box-sizing: border-box;
}
.bro-player>div>div:nth-child(5) form button {
    position: absolute;
    right: 0;
}
}@media (max-width:685px) {
    .bro-player>div>div: nth-child(5) {
    display: none;
}
.bro-player>div>div:nth-child(2) {
    width: 33%}
.bro-player>div>div:nth-child(4) {
    width: 34%}
.bro-player>div>div:nth-child(1) {
    width: 33%}
}@media (max-width:508px) {
    .bro-player>div>div: nth-child(1) {
    display: none;
}
.bro-player>div>div:nth-child(2) {
    width: 159px;
}
.bro-player>div>div:nth-child(4) {
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 159px;
}
}.bro-player-nav {
    padding: 25px 1% 1% 0;
}
.bro-player-nav>a {
    float: left;
    margin: 0 6px;
}
.bro-player-nav>a:first-child {
    margin-left: 0;
}
.bro-player-nav>a:last-child {
    margin-right: 0;
}
.bro-player-info {
    display: table;
    padding: 17px 5px 25px 5px;
}
.bro-player-info-img, .bro-player-info-text {
    display: table-cell;
    vertical-align: top;
}
.bro-player-info-img img{
  margin-top:18px;
}
.bro-player-info-text {
    padding-left: 0px;
    max-width:150px;
    overflow:hidden;
}
.bro-player-info-text span {
    color: #616161;
    display: block;
    float:left;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    height:25px!important;
}
.bro-player-info-text small {
    color: #909090;
    line-height: 20px;
    display: block;
    font-size: 13px;
    font-weight: 500;
}
.bro-player-info-text small img {
    display: inline-block;
    margin-right: 7px;
}
.bro-player-nowplay {
    padding: 17px 2% 17px 1%;
    max-width:270px;
  }
.bro-player-nowplay-img {
  float:left;
}
.bro-player-nowplay-text-wrapper {
  overflow:hidden;
  height: 60px;
  margin-left:80px;
}
.bro-player-nowplay-text {
  height:60px;
  display:table-cell;
  vertical-align:middle;

    font-size: 14px;
    line-height: 20px;
    color: #454545;
    font-weight: 500;
}
.bro-player-nowplay-text span {
    color: #909090;
    font-weight: 400;
    font-family: HelveticaNeueCyr-Medium;
}
.bro-player-fav {
    padding-top: 25px;
    height: 90px;
    position: relative;
    text-align: center;
}
.bro-player-fav-heart, .bro-player-fav-hide, .bro-player-fav-star {
    display: inline-block;
    height: 40px;
}
.bro-player-fav-heart {
    background-color: #fe4c4c;
    margin: auto;
}
.bro-player-fav-heart:hover {
    opacity: .7;
}
.bro-player-fav-star {
    background-color: #fed24c;
    margin-left: 20px;
    margin-right: 12px;
}
.bro-player-fav-hide, .bro-player-fav-hide:after, .bro-player-fav img {
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.bro-player-fav img {
    right: 0;
}
.bro-player-fav-hide:after {
    border: 6px solid transparent;
    border-left: 6px solid rgba(0, 0, 0, .05);
    display: block;
    height: 3px;
}
.bro-modal-header, .bro-player-message form {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.bro-player-message {
    padding-top: 25px;
    position: absolute;
    top: 0;
    right: 0;
}
.bro-player-message form {
    padding-bottom: 11px;
    width: 99%}
.bro-player-message form .bro-form-massage-container {
    display: inline-block;
    position: relative;
}
.bro-player-message form input[type=text] {
    min-width: 210px;
    padding-left: 24px;
}
.bro-player-message-info {
    color: #2194f0;
    font-family: HelveticaNeueCyr;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 20px;
}
.bro-player-message-info img {
    margin-right: 10px;
}
@media (max-width:1261px) {
    .bro-player-message-info {
    display: none;
}
}.bro-overlay {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%}
.bro-overlay>div {
    display: table;
    height: 100%;
    width: 100%}
.bro-overlay>div>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.bro-modal {
    min-width: 33%;
    z-index: 11;
    position: relative;
    display: none;
    background-color: #fff;
    border-radius: 10px;
}
.bro-modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 0;
    height: 100%;
    width: 100%;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, .3);
}
.bro-modal span {
    color: #707171;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    padding: 36px 44px;
}
.bro-modal--open, .bro-modal-menu {
    display: inline-block;
}
.bro-modal-menu {
    float: right;
    padding: 0 20px;
}
.bro-modal-menu div {
    background-color: #2196f3;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    margin: 1px;
}
.bro-swith {
    position: relative;
    width: 30px;
    height: 11px;
    border-radius: 11px;
    background-color: rgba(33, 148, 240, .4);
}
.bro-sidepanel, .bro-swith-trig {
    position: absolute;
    bottom: 0;
    top: 0;
}
.bro-swith-trig {
    left: -25%;
    margin: auto;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 5px solid #2194f0;
    box-sizing: border-box;
    background-color: #2194f0;
}
.bro-sidepanel, .bro-swith-trig:hover {
    background-color: #fff;
}
.bro-swith--on>div {
    left: 75%}
.bro-sidepanel {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s;
    transition: .3s;
    max-height: 100%;
    z-index: 7;
    right: 0;
    overflow: hidden;
    width: 430px;
}
.bro-sidepanel>div {
    box-sizing: border-box;
    display: table;
    width: 100%}
/*.bro-sidepanel>div>div {
    display: table-cell;
    box-sizing: border-box;
}*/
.bro-sidepanel>div>div:first-child {
    vertical-align: top;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 45px;
    width: 40px;
}
.bro-sidepanel>div>div:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.bro-sidepanel-person {
    position: relative;
    display: table;
    width: 100%;
    background-color: #4dabf5;
}
.bro-sidepanel-img-contatiner {
  float:left;
}
.bro-sidepanel-person-ava {
    vertical-align: middle;
    display: table-cell;
    width: 50px;
    padding: 12px 30px 12px 20px;
}
.bro-sidepanel-person-ava>div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.bro-sidepanel-person-ava>div>img {
    height: 50px;
    width: 50px;
}
.bro-sidepanel-person-info {
    color: #fff;
    font-family: HelveticaNeueCyr;
    line-height: 25px;
    vertical-align: middle;
    display: table-cell;
}
.bro-sidepanel-person-info span {
    font-size: 18px;
    font-weight: 500;
    display: block;
}
.bro-sidepanel-person-info small {
    display: block;
    font-size: 14px;
    font-weight: 400;
}
.bro-sidepanel-set {
    display: table;
    color: #4c4c4c;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-weight: 400;
}
.bro-sidepanel-set .bro-swith {
    float: right;
    margin: 12px 0;
    cursor: pointer;
}
.bro-sidepanel-set>div {
    display: table-cell;
}
.bro-sidepanel-set span {
    display: inline-block;
    margin: 5px 0;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
}
.bro-sidepanel-mustype .bro-sidepanel-img {
    margin-bottom: 20px;
}
.bro-sidepanel-mustype-item {
  overflow:auto;
  margin:30px 0 15px 110px;s
    text-align: justify;
    text-justify: newspaper;
    zoom: 1;
    padding-right: 20px;
    height:300px;
}
.floatfix {
  clear:both;
  height2px;
  background:green;
}
.bro-sidepanel-mustype-item:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    display: inline-block;
}
#scrollbox3, .bro-sidepanel-liststay-item {
    overflow: auto;
}
.bro-sidepanel-mustype-item a {
    margin: 2px;
    float: left;
    position: relative;
    width: 68px;
    text-align: left;
    line-height: normal;
    vertical-align: top;
    font-size: 12px;
    height: 68px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #36ade1;
}
.bro-sidepanel-mustype-item a.activ:after {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    content: "";
    border: 12px solid transparent;
    border-right: 12px solid #36ade1;
    border-bottom: 12px solid #36ade1;
}
.bro-sidepanel-mustype-item a:nth-child(4n-3) {
    margin-left: 0;
}
.bro-sidepanel-mustype-item a:nth-child(4n) {
    margin-right: 0;
}
.bro-sidepanel-mustype-item a>span {
    color: #36ade1;
    font-family: HelveticaNeueCyr;
    font-size: 12px;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
}
.bro-sidepanel-mustype-item a>span:before, .bro-sidepanel-mustype-item a>span>span {
    display: inline-block;
    vertical-align: middle;
}
.bro-sidepanel-mustype-item a>span:before {
    content: " ";
    height: 100%;
    width: 0;
}
.bro-sidepanel-mustype-item a:hover {
    background-color: #36ade1;
}
.bro-sidepanel-mustype-item a:hover span {
    color: #fdfdfe;
}
.bro-sidepanel-mustype-item a.activ:hover:after {
    border: 12px solid transparent;
    border-right: 12px solid #92d2ee;
    border-bottom: 12px solid #92d2ee;
}
.bro-sidepanel-mustype-item img {
    display:none;
}
.bro-sidepanel-mustype-item a.activ img {
    display:block;
    position: absolute;
    z-index: 4;
    bottom: 2px;
    right: 0;
}
.bro-sidepanel-liststay {
    margin-top: 30px;
}
.bro-sidepanel-liststay>div {
    padding-top: 0;
}
.bro-sidepanel-liststay-item>div {
    height: 193px;
    padding-right: 200px;
}
.bro-sidepanel-liststay a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 22px 0;
}
.bro-sidepanel-close {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    height: 12px;
    display: block;
}
.bro-sidepanel-close img {
    display: block;
}
.bro-sidepanel-img, .bro-sidepanel-img img {
    display: inline-block;
    position: relative;
    text-align: center;
}
.bro-sidepanel-img {
    width: 40px;
    height: 40px;
}
.bro-sidepanel-img img {
    z-index: 6;
}
.bro-sidepanel-img:hover:before {
    background-color: #bababa;
}
.bro-sidepanel-img:before {
    position: absolute;
    z-index: 5;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #36ade1;
}
.bro-sidepanel--close {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
}
#bro-modal1 input:not([type=submit]) {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    text-align: center;
    color: #4c4c4c;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 20px 35px;
}
#bro-modal1 input[type=submit] {
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
    font-family: DINPro;
    font-size: 14px;
    font-weight: 500;
}
#bro-modal1 .bro-modal-input {
    padding-right: 45px;
    padding-left: 45px;
}
#bro-modal1 .bro-modal-soci {
    zoom: 1;
    padding: 35px 45px;
}
#bro-modal1 .bro-modal-soci:after, #bro-modal1 .bro-modal-soci:before {
    display: table;
    content: ''}
#bro-modal1 .bro-modal-soci span {
    float: left;
    padding: 0;
}
#bro-modal1 .bro-modal-soci a {
    display: inline-block;
    float: right;
    margin-left: 10px;
}
#bro-modal2:after, #bro-modal2:before {
    display: block;
    content: "";
    z-index: 4;
    height: 15%;
    left: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    right: 0;
}
#bro-modal1 span {
    text-align: left;
}
#bro-modal2 {
    background: url(../img/modal2-bg.png) bottom no-repeat #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 5;
    position: relative;
}
#bro-modal2:after {
    position: absolute;
    width: 90%;
    bottom: -15%;
    opacity: .7;
}
#bro-modal2:before {
    position: absolute;
    width: 80%;
    bottom: -30%;
    opacity: .4;
}
.bro-mustype--active.bro-mustype .bro-mustype-discript, .bro-mustype--active.bro-mustype .bro-mustype-fav, .bro-mustype--active.bro-mustype .bro-pause {
    opacity: 1;
}
#bro-modal2 span {
    padding: 0;
    text-align: center;
    color: #4c4c4c;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    border: 0;
}
#scrollbox3 {
    width: 400px;
    height: 360px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}
.track3 {
    width: 10px;
    background: transparent;
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background .25s linear;
    transition: background .25s linear;
}
.track3.dragging, .track3:hover {
    background: #d9d9d9;
    background: rgba(0, 0, 0, .15);
}
.handle3 {
    width: 7px;
    right: 0;
    background: #2196f3;
    border-radius: 7px;
    -webkit-transition: width .25s;
    transition: width .25s;
}
.track3.dragging .handle3, .track3:hover .handle3 {
    width: 10px;
}
#toast-container>div {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 0;
}
.toast-success {
    background-color: #fefefe;
}
.toast-success .toast-message {
    color: rgba(0, 0, 0, .9);
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.toast-close-button {
    top: -.9em;
    color: rgba(0, 0, 0, .9);
}
.bro-mustype--active.bro-mustype {
    background-color: #2196f3;
}
.bro-mustype--active.bro-mustype .bro-mustype-name {
    position: absolute;
    top: 12%;
    padding-right: 25%;
    right: auto;
    left: 10%;
    line-height: 1;
    width: auto;
    bottom: auto;
    color: #fff;
    text-align: left;
}
.bro-mustype--active.bro-mustype .bro-mustype-icon img {
    position: absolute;
    top: 12%;
    right: 12%;
    bottom: auto;
    left: auto;
    width: 12%;
    height: auto;
    margin: auto;
    display: none;
}
.bro-mustype--active.bro-mustype .bro-mustype-icon:after, .bro-mustype--active.bro-mustype .bro-mustype-icon img+img {
    display: block;
}

#radio_fav {
  width:12px; height:12px;
  float:left;
  margin:5px 7px 0 0;
  background: url(../img/star_grey.png) no-repeat;
}
#radio_fav.active {
  background: url(../img/star_yellow.png) no-repeat;
}
#radio_fav_big {
  /*width:24px; height:24px;*/
  float:left;
  background: url(../img/star_big_white.png) no-repeat;
}
#radio_fav_big.active {
  background: url(../img/star_big_yellow.png) no-repeat;
}
