<template name="adminHeader">
  <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{pathFor 'admin'}}">Radio admin <small><small><small>123</small></small></small></a>
          </div>
          <div class="navbar-collapse collapse" id="navbar1">
              <ul class="nav navbar-nav">
                  <li><a href="/radiosList">Станции</a></li>
                  <li><a href="/genresList">Жанры</a></li>
                  <li><a href="/usersList">Пользователи</a></li>
                  <li><a href="/msgToUsers">Сообщение пользователям</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <button id="initRadiosBtn" type="button" class="btn btn-default navbar-btn">init</button>
                <button id="cleareRadiosBtn" type="button" class="btn btn-default navbar-btn">clear</button>
                <button id="cleareDopinfoBtn" type="button" class="btn btn-default navbar-btn">clear dopinfo</button>
              </ul>
          </div>
      </div>
</template>
