<template name="genresList">
    <button data-toggle="modal" data-target="#addGenreModal" type="button" class="btn btn-default">Добавить</button>
    <table class="table genresList">
        <caption>Жанры</caption>
        <thead>
        <tr>
            <th>Название</th>
            <th>Иконка</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each genresList}}
            <tr data-id="{{_id}}">
                <td>{{name}}</td>
                <td>{{icon}}</td>
                <td style='text-align:right;'>
                  <button data-id={{_id}} type="button" class="genreDelBtn btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <div class="modal fade" id="addGenreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" >Добавление/редактирование жанра</h4>
              </div>
              <div class="modal-body">
                <form role="form">
                  <input type="hidden" id="genreId" />
                  <div class="form-group">
                    <label for="inputNumber">Название</label>
                    <input type="text" class="form-control" id="genreName" />
                  </div>
                  <div class="form-group">
                    <label for="inputNumber">Иконка</label>
                    <input type="text" class="form-control" id="genreIcon" />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                <button id="genresBtn" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
</template>
