<template name="msgToUsers">
  <form role="form">
    <div class="form-group">
      <textarea class="form-control" rows="3" id="msg"></textarea>
    </div>
    <button id="sendBtn" class="btn btn-default">Отправить</button>
  </form>
</template>
