<template name="radiosList">
  <button data-toggle="modal" data-target="#addRadioModal" type="button" class="btn btn-default">Добавить</button>
  <table class="table radiosList">
    <caption>радио</caption>
    <thead>
      <tr>
        <th>Название</th>
        <th>url</th>
        <th>Описание</th>
        <th>Жанр</th>
        <th>Слушают</th>
        <th>Нравится</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each radiosList}}
      <tr data-id="{{_id}}">
        <td>{{name}}</td>
        <td>{{url}}</td>
        <td>{{description}}</td>
        <td>{{genreName genre}}</td>
        <td>{{listen}}</td>
        <td>{{like}}</td>
        <td style='text-align:right;'>
          <button data-id="{{_id}}" type="button" class="radioDelBtn btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="modal fade" id="addRadioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Добавление/редактирование станции</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <input type="hidden" id="radioId" />
                <div class="form-group">
                  <label for="inputNumber">Название</label>
                  <input type="text" class="form-control" id="radioName" />
                </div>
                <div class="form-group">
                  <label for="inputNumber">Ссылка на источник</label>
                  <input type="text" class="form-control" id="radioUrl" />
                </div>
                <div class="form-group">
                  <label for="inputNumber">Описание</label>
                  <input type="text" class="form-control" id="radioDescription" />
                </div>
                <div class="form-group">
                  <label for="inputNumber">Жанр</label>
                  <select class="form-control" id="radioGenre">
                    {{#each genresList}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
              <a id="radiosBtn" class="btn btn-primary">Сохранить</a>
            </div>
          </div>
        </div>
      </div>
</template>
