<template name="usersList">
  <table class="table radiosList">
    <caption>Пользователи</caption>
    <thead>
      <tr>
        <th>Логин</th>
        <th>Имя</th>
        <th>Почта</th>
      </tr>
    </thead>
    <tbody>
      {{#each usersList}}
      <tr data-id="{{_id}}">
        <td>{{username}}</td>
        <td>{{profile.fullname}}</td>
        <td>{{emails.[0].address}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>
