<template name="auth_phone">
    <div class="wrapper">
        {{> header_phone}}
        <div class="form login-form">
            <div class="title">Login to you account</div>
            <div class="inp_outer"><input type="text" name="username" placeholder="Username" /></div>
            <div class="inp_outer"><input type="password" name="password" placeholder="Password" /></div>
            <div class="inp_outer"><input type="button" id="btnLogin" value="Login" /></div>
            <div class="separated">
                <div class="title">New user?</div>
                no worries, click <a href="#" class="logregToggle">here</a> to register
            </div>
        </div>
        <div class="form register-form">
            <div class="title">Register new account</div>
            <div class="inp_outer"><input type="text" name="fullname" placeholder="Full name" /></div>
            <div class="inp_outer"><input type="text" name="email" placeholder="Email" /></div>
            <div class="inp_outer"><input type="text" name="address" placeholder="Address" /></div>
            <div class="inp_outer"><input type="text" name="city" placeholder="City / Town" /></div>
            <div class="inp_outer"><input type="text" name="country" placeholder="Country" /></div>

            <div class="inp_outer"><input type="text" name="username" placeholder="Username" /></div>
            <div class="inp_outer"><input type="password" name="password" placeholder="Password" /></div>
            <div class="inp_outer"><input type="password" name="password2" placeholder="Re-type password" /></div>
            <div class="inp_outer"><input type="button" id="btnRegistration" value="Registration" /></div>
            <div class="separated">
                <div class="title">Already register?</div>
                click <a href="#" class="logregToggle">here</a> to login
            </div>
        </div>
    </div>
</template>
