<template name="header_phone">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="mobile-web-app-capable" content="yes">

    <div class="header">
        <div class="logo"><img class="logo1" src="/img/logo.png" alt="logo" /></div>
        <a href="#" id="btnSettings"></a>
    </div>
    <div id="menu">
        {{#if currentUser.loginStateSignedUp}}
            <div class="info">
                <img class="avatar" src="{{avatar}}"/>
                <span>{{currentUser.profile.fullname}}</span>
            </div>
            <a href="#" id="logout">Logout</a>
        {{else}}
            <a href="{{pathFor route='auth'}}">Authorization</a>
        {{/if}}
    </div>
</template>
