<template name="listen_phone">
    <div class="wrapper">
        {{> header_phone}}
        <div class="container">
            <div class="radio_info">
                <div class="genre_box">
                    <div class="genre_header">
                        <div class="title">{{curGenre.name}}</div>
                        <div class="online">{{curRadio.listen}}</div>
                    </div>
                    <div class="genre_content">
                        <div class="description">{{curRadio.description}}</div>
                        <div class="fav">
                            {{#each favRadios}}
                            <ul>
                                <li class="{{#if active}} active {{/if}}"><span class="name">{{name}}</span><span class="listen">{{listen}}</span></li>
                            </ul>
                            {{/each}}
                        </div>
                    </div>
                    <img class="genre_icon" src=img/iconwhite{{curGenre.icon}}.png alt="">
                    <div class="genre_footer"></div>
                    <div class="genre_name"><span id='marquee'></span></div>
                    <div class="genre_likes">{{curRadio.like}}</div>
                    <a href=# id="btn_toggle_fav" class="radio_fav {{#if curRadio.fav}} active {{/if}}"></a>
                </div>
            </div>
            <div class="player_controls">
                <div class="nowplay">{{#if curRadio.info.title}}{{curRadio.info.title}}
                  {{else}}info not defined{{/if}}</div>
                <div class="buttons">
                    <a href="#" id="btn_fav"><img src="/img/phone_btn_fav.png" /></a>
                    <a href="#" id="btn_prev"><img src="/img/phone_btn_prev.png" /></a>
                    <a href="#" id="btn_play"><img src="/img/phone_btn_play.png" /></a>
                    <a href="#" id="btn_next"><img src="/img/phone_btn_next.png" /></a>
                    <a href="#" id="btn_like"><img src="/img/phone_btn_heart.png" /></a>
                </div>
            </div>
            <!--
            <div class="player">player</div>
            <div class="footer">message input area</div>-->
        </div>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    </div>
    <div id="messages_box">
        {{#each messages}}
            <div class="message">
                <img src="{{avatar}}" alt="avatar" />
                <div class="content">
                    {{message}}
                </div>
            </div>
        {{/each}}
    </div>
    <div class="message_box">
        <form id="message_form">
            <input type="text" id="message_input" placeholder="Write a message..." />
        </form>
    </div>
</template>
