<template name="radio_phone">
    <div class="wrapper">
        {{> header_phone}}
        <div class="container">
            {{#each favGenres}}
            <div class="box">
                <a href="listen/{{_id}}">
                    <img class="icon" src=img/icon{{icon}}.png alt="">
                    <div class="bottom">
                        <div class="name">{{name}}</div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</template>
