<div id="inject-loader-wrapper">
<style type="text/css">

.showbox {
  background: #e7ebf0;
  position:fixed;
  z-index:100;
  width:100%;
  height:100%;
  padding-top:30%;
}

.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.loading-text {
  font-size:20px;
  text-align:center;
  margin-top:40px;
}
.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.path-2 {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 3s ease-in-out infinite, color 8s ease-in-out infinite;
          animation: dash 3s ease-in-out infinite, color 8s ease-in-out infinite;
  stroke-linecap: round;
}

.path-3 {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 4.5s ease-in-out infinite, color 12s ease-in-out infinite;
          animation: dash 4.5s ease-in-out infinite, color 12s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #0007e7;
  }
  /*40% {
    stroke: #0007e7;
  }
  66% {
    stroke: #0f0;
  }
  80%, 90% {
    stroke: #ffa700;
  }*/
}
@keyframes color {
  100%, 0% {
    stroke: #0007e7;
  }
  /*40% {
    stroke: #0007e7;
  }
  66% {
    stroke: #0f0;
  }
  80%, 90% {
    stroke: #ffa700;
  }*/
}
</style>
<div class="showbox">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      <circle class="path-2" cx="50" cy="50" r="15" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      <circle class="path-3" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
    <div class="loading-text">Loading...</div>
  </div>
</div>
</div>
