<template name="radio">

  <script type="text/javascript" src="js/jquery.mb.browser.min.js"></script>
  <script src="assets/pages/scripts/ui-toastr.min.js" type="text/javascript"></script>
  <script src="assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>

  <link rel=stylesheet href="css/chat_comp.css"/>
  <link rel=stylesheet href=css/main.css>
  <div id=megawarpper>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class=bro-header>
  	<div class=bro-container>
  		<!--<a href="" class=bro-logo><img src=img/Logo.png alt=""></a>-->
  		<div class=bro-nav>
  			<!--Поиск<div>
  				<a href=#bro-modal2 class="bro-search bro-modal-open"><img src=img/search.png></a>
  			</div>-->
  			<div><!--<a href=#bro-modal1 class="bro-login bro-modal-open">modal</a>-->{{messages}}
          {{#if currentUser.loginStateSignedUp}}
          <!-- Аватар -->
    				<!--<span class=bro-login-img><img data-toggle="modal" data-target="#editYourAvatarModal" src="{{avatar}}" alt=""></span>-->
    				<span>{{currentUser.profile.fullname}}</span>
          {{else}}
            <a href="{{pathFor route='register'}}">Authorization</a>
          {{/if}}
  			</div>
        {{#if currentUser.loginStateSignedUp}}
  			<div><a href=# class=bro-settings><img src=img/setting.png><span>Settings</span></a></div>
        {{else}}
        <div></div>
        {{/if}}
  		</div>
  	</div>
  </div>
  <div class=bro-main>

  	<div class=bro-container>
      {{#each favGenres}}
        <div>
          <div>
            <a href="{{_id}}" class=bro-mustype>
              <div>
                <a href=# class=bro-pause><img src=img/pause-white.png alt=""></a>
                <div class=bro-mustype-icon><img src=img/icon{{icon}}.png alt=""><img src=img/iconwhite{{icon}}.png alt=""></div>
                <div class=bro-mustype-name><span>{{name}}</span></div>
                <div class=bro-mustype-discript><span>{{curRadio.description}}</span></div>
                <div class="bro-mustype-favRadios">
                    {{#each favRadios}}
                    <ul>
                        <li class="{{#if active}} active {{/if}}"><span class="listen">{{listen}}</span><a href={{_id}} class="name">{{name}}</a></li>
                    </ul>
                    {{/each}}
                </div>
                <div class=bro-mustype-fav><a href=# id="radio_fav_big" class="{{#if curRadio.fav}} active {{/if}}"></a></div>
              </div>
            </a>
          </div>
        </div>
      {{/each}}
      <div>
        <div>
          <article class=bro-mustype>
            <div>
              <a href=# class="bro-pause pause"><img src=img/pause-white.png alt=""></a>
              <div class=bro-mustype-icon><img src=img/icon8.png alt=""><img src=img/iconwhite8.png alt=""></div>
              <div class=bro-mustype-name><span>Hip-Hop / Rap</span></div>
              <div class=bro-mustype-discript><span>HipHipHipHip Hip Hip HipHipHip Hip-Hop / Rap</span></div>
              <div class=bro-mustype-fav><a href=# ><img src=img/star.png></a></div>
            </div>
          </article>
        </div>
      </div>
  	</div>
  </div>
  <div class="main_chat" id="main_chat" style="">
  	<div class="content">  			</div>
  </div>
  <div class=bro-player>
  	<div class=bro-container>
  		<div class=bro-player-nav>
        <a class="player-btn bro-btn-pause" href=# ></a>
        <a id="prev" href=# class="player-btn bro-btn-prev"></a>
        <a id="next" href=# class="player-btn bro-btn-next"></a>
      </div>
  		<div class=bro-player-info>
  			<div class=bro-player-info-img><img src=img/tower.png></div>
  			<div class=bro-player-info-text>
          <span id='marquee'></span>
          <small>
            {{#if currentUser.loginStateSignedUp}}
            <a href="#" id="radio_fav" class="radio_fav {{#if curRadio.fav}} active {{/if}}"></a>
            {{/if}}
            <img id="heartCounter" src="img/heart.png" />
            {{curRadio.like}}
          </small></div>
  		</div>
  		<div class=bro-player-nowplay>
  			<div>
  				<div class=bro-player-nowplay-img>
            <img width="55px" height="55px"
              src="{{#if curRadio.info.album}}{{curRadio.info.album}}
                {{else}}img/album.jpg{{/if}}">
            </div>
  				<div class="bro-player-nowplay-text-wrapper"><div class=bro-player-nowplay-text>
            {{#if curRadio.info.title}}{{curRadio.info.title}}
              {{else}}info not defined{{/if}}
          </div></div>
  			</div>
  		</div>
  		<div class=bro-player-fav><a href=# class=bro-player-fav-hide></a><a id="likeBtn" class="bro-player-fav-heart"><img src=img/heart-white.png></a></div>
  		<div class=bro-player-message>
  			<form action=# class=bro-form-massage>
  				<div class=bro-form-massage-container><input type=text name=message id="" autocomplete="off" placeholder="Write a message..."> <label for=message></label></div>
  				<span class=bro-player-message-info><img src=img/person.png alt="">{{curRadio.listen}}</span><button type=submit><img src=img/send.png alt=""></button>
  			</form>
  		</div>
  	</div>
  </div>
  <div class="bro-sidepanel bro-sidepanel--close">
  	<div class=bro-sidepanel-person>
  		<a class=bro-sidepanel-close href=#><img src=img/close-cros.png></a>
  		<div class=bro-sidepanel-person-ava>
  			<div><img data-toggle="modal" data-target="#editYourAvatarModal" src="{{avatar}}"></div>
  		</div>
  		<div class=bro-sidepanel-person-info><span>{{currentUser.profile.fullname}}</span><small>Online&nbsp;&nbsp;&nbsp;<a href="#" id="logout">Logout</a></small></div>
  	</div>
  	<div class=bro-sidepanel-set>
  		<div>
  			<div class=bro-sidepanel-img><img src=img/cogwhele.png></div>
  		</div>
  		<div>
  			<div class=bro-sidepanel-swith-item>
  				<div>
  					<span>
  						По популярным
  						<div class="bro-swith {{#if currentUser.profile.sortPopular}} bro-swith--on {{/if}}" id="sortPopular">
  							<div class=bro-swith-trig></div>
  						</div>
  					</span>
  				</div>
  			</div>
        <div class=bro-sidepanel-swith-item>
  				<div>
  					<span>
  						Только избранные радиостанции
  						<div class="bro-swith {{#if currentUser.profile.sortFavorite}} bro-swith--on {{/if}}" id="sortFavorite">
  							<div class=bro-swith-trig></div>
  						</div>
  					</span>
  				</div>
        </div>
        <div class=bro-sidepanel-swith-item>
  				<div>
  					<span>
  						Показать/скрыть сообщения
  						<div class="bro-swith {{#if currentUser.profile.showMessages}} bro-swith--on {{/if}}" id="toggleMessages">
  							<div class=bro-swith-trig></div>
  						</div>
  					</span>
  				</div>
        </div>
  		</div>
  	</div>
  	<div class=bro-sidepanel-mustype>
  		<div class=bro-sidepanel-img-contatiner>
  			<div class=bro-sidepanel-img><img src=img/muskay.png></div>
  			<div class=bro-sidepanel-img><img src=img/star-white.png></div>
  		</div>
  		<div class=bro-sidepanel-mustype-item>
        {{#each genres}}
            <a href="{{_id}}" class="{{#if fav}}activ{{/if}}"><span><span>{{name}}</span></span> <img src=img/star-small.png></a>
        {{/each}}
      </div>
  	</div>
  	<!-- выбранные станции<div class=bro-sidepanel-liststay>
  		<div>
  			<div class=bro-sidepanel-img><img src=img/tower-white.png></div>
  		</div>
  		<div class=bro-sidepanel-liststay-item>
  			<div><a href=#>Europa Plus</a> <a href=#>Комсомольская правда</a> <a href=#>Русская Служба Новостей</a> <a href=#>Серебряный Дождь</a> <a href=#>Europa Plus</a> <a href=#>Комсомольская правда</a> <a href=#>Русская Служба Новостей</a> <a href=#>Серебряный Дождь</a></div>
  		</div>
  	</div>-->
  </div>
  </div>
  <div class=bro-toastr></div>
  <div class=bro-overlay>
  	<div>
  		<div>
  			<a class="bro-modal-close bro-modal-bg" href=#bro-modal1></a>
  			<div class="bro-modal bro-modal1" id=bro-modal1>
  				<span class=bro-modal-header>
  					Войти на сайт
  					<a href=# class=bro-modal-menu>
  						<div></div>
  						<div></div>
  						<div></div>
  					</a>
  				</span>
  				<form action="">
  					<div class=bro-modal-input><input type=text name="" id="" placeholder="Введите имя"> <input type=password name="" id="" placeholder="Введите пароль"></div>
  					<div class=bro-modal-soci><span>Войти через</span> <a href=#><img src=img/vk.png> <a href=#><img src=img/fb.png></a></a></div>
  					<input type=submit value="ВОЙТИ НА САЙТ">
  				</form>
  			</div>
  			<div class="bro-modal bro-modal2" id=bro-modal2><span class=bro-modal-header>Bufering...</span></div>
  		</div>
  	</div>
  </div>
{{> editYourAvatarModal}}

  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
</template>
